<ul>
    <li>
        <a href="/colorito/basic/introduction">Basic</a>
        <ul>
            <li><a href="/colorito/basic/introduction">Introduction</a></li>
            <li><a href="/colorito/basic/installation">Installation</a></li>
            <li><a href="/colorito/basic/quick-start">Quick start</a></li>
            <li><a href="/colorito/basic/layers">Layers</a></li>
        </ul>
    </li>
    <li>
        <a href="/colorito/canvas-creation/solid-color-canvases">Canvas creation</a>
        <ul>
            <li><a href="/colorito/canvas-creation/solid-color-canvases">Solid color canvases</a></li>
            <li><a href="/colorito/canvas-creation/gradients-of-color">Gradients of color</a></li>
            <li>Special gradients</li>
        </ul>
    </li>
    <li>
        <a href="/colorito/canvas-creation/solid-color-canvases">Color basics and channels</a>
        <ul>
            <li>@todo</li>
        </ul>
    </li>
    <li>
        Transformations
        <ul>
            <li>Crop</li>
            <li><a href="/colorito/transformations/flip">Flip</a></li>
            <li><a href="/colorito/transformations/flop">Flop</a></li>
            <li>Opacity</li>
            <li>Rotation</li>
        </ul>
    </li>
    <li>
        Effects
        <ul>
            <li>
                Color correction
                <ul>
                    <li>Auto Levels</li>
                </ul>
            </li>
            <li>
                Distort
                <ul>
                    <li>Twirl</li>
                </ul>
            </li>
            <li>
                Generate
                <ul>
                    <li><a href="/colorito/effects/generate/fill">Fill</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
