@import url(//fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

body {
    padding: 0;
    margin: 0;
    color: #2c3e50;
    font-size: 15px;
}

.sidebar {
    position: absolute;
    top: 0;
    background-color: #2c3e50;
    color: #fff;
    text-align: right;
}

.sidebar-header {
    color: #e6ecff;
    text-align: left;
    padding: 21px 0;
}

.sidebar-header .title {
    color: #e6ecff;
    text-align: left;
    padding: 21px 0;
}

article{
    margin-bottom: 40px;
    padding: 0 5% 0;
}

.article_body{
    margin-top: 20px;
    margin-bottom: 20px;
}

article div a, article pre a { color: #E74C3C; }
article div a:hover, article pre a:hover { color: #fb4d3e; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-family: 'Ubuntu', sans-serif;
    color: #f2756a;
}

article h1 a,
article h2 a,
article h3 a,
article h4 a {
    color: #f2756a;
}
article h1 a:hover,
article h2 a:hover,
article h3 a:hover,
article h4 a:hover {
    color: #e74c3c;
}

.author .author-image {
    float: left;
    margin-right: 20px;
}

h1 {
    color: #e74c3c;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

footer {
    padding-top: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.sidebar ul {
    list-style: none;
    color: #ccc;
}

.sidebar ul a {
    color: #fff;
}

.sidebar > ul {
    text-align: left;
    display: inline-block;
    margin-right: 30px;
}